body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.stats-box {
  border: solid 1px #BDBDBD;
  padding: 5px;
  margin: 5px;
  min-width: 100px;
  border-radius: 10px
}
.stats-title{
  font-weight: bold;
  text-align: center;
}
.stats-value{
  text-align: center;
}
.stats-title{
  text-align: center;
}